.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.u-text-center {
  text-align: center;
}

.u-flow > * + * {
  margin-top: var(--flow-space, 1.25rem);
}
