{% set loc = (lang or page.lang or localization.defaultLocale) %}
{% if loc == 'en' %}
  {% include 'partials/footer_en.njk' %}
{% elif loc == 'nl' %}
  {% include 'partials/footer_nl.njk' %}
{% elif loc == 'de' %}
  {% include 'partials/footer_de.njk' %}
{% else %}
  {% include 'partials/footer_fr.njk' %}
{% endif %}
