{% set loc = (lang or page.lang or localization.defaultLocale) %}
{% if loc == 'en' %}
  {% include 'partials/header_en.njk' %}
{% elif loc == 'nl' %}
  {% include 'partials/header_nl.njk' %}
{% elif loc == 'de' %}
  {% include 'partials/header_de.njk' %}
{% else %}
  {# Fallback to EN if FR-specific partial is not present #}
  {% include 'partials/header_en.njk' %}
{% endif %}

